/*전역 태그 설정*/
body, h1, p, ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family:'나눔고딕';
}
body{

}
h1,p{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255);
    color: #222222;
}
h1{
    font-size: 45px;
}
p{
    font-weight: bold;
    font-size: 20px;
}
a{
    color: white;
}

/*상단 메뉴바 설정*/
.logoimg{
    display: block; margin: 0px auto;
    height: 10vh;
    background-color: #222222;
}
.nav{
    display:grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr;
    text-align: center;
    line-height:10vh;
    opacity: 0.9;
}
.main_menu{
    border-left: 1px solid white;
    font-size: 25px;
    font-weight: bold;
    background-color: #222222;
}
.sub_menu{
    position:absolute;
    width:calc( 25% - 37.5px );
    z-index: 2;
    color: white;
    background-color: rgb(50, 50, 50);
}

/*상단 메뉴바 아이콘 출력*/
ul.nav > li:hover > div.main_menu{
    font-size:30px;
    background-size: auto 75px;
    background-repeat:no-repeat;
    background-position: right;
}
ul.nav > li.menu_c:hover > div.menu3{
    background-image: url("../Image/charPreview_Venti.png");
}
ul.nav > li.menu_d:hover > div.menu4{
    background-image: url("../Image/icon_mora.png");
    background-size: auto 100px;
}
ul.nav > li.menu_e:hover > div.menu5{
    background-image: url("../Image/icon_Adventurers.png");
}
li{
    font-size: 25px;
    font-weight: bold;
}

/*드롭다운 출력*/
ul.nav > li ul.sub_menu { display:none; }
ul.nav > li:hover ul.sub_menu { display:block; }
ul.nav > li ul.sub_menu > li:hover { background:#222222; }



/*메인페이지 설정*/
.main {
    width: 100%;
    height: 90vh;
    text-align: center;
    z-index: 1;
    line-height:2
}

.main::after {
    width: 100%;
    height: 100vh;
    content: "";
    background: url("../Image/Genshin\ mainpage.jpg");
    background-repeat:no-repeat;
    background-size:  100% 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
  }

/*HOME*/
.main_writing{
    position:absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Character*/
.character_icon{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, auto));
    justify-items: center;
}
.c_icon{
    width:100px;
    height: 100px;
}