/*--------------------------------------------------태그 초기화작업--------------------------------------------------*/
body, h1, p, ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family:'나눔고딕';
}
h1{
    font-size: 45px;
}
p{
    font-weight: bold;
    font-size: 20px;
}
a{
    color: white;
}


/*--------------------------------------------------상단 메뉴바 설정--------------------------------------------------*/
.logoimg{
    display: block; margin: 0px auto;
    height: 10vh;
    background-color: #222222;
}
.nav{
    display:grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr;
    text-align: center;
    line-height:10vh;
    opacity: 0.9;
}
.main_menu{
    border-left: 1px solid white;
    font-size: 25px;
    font-weight: bold;
    background-color: #222222;
}
.sub_menu{
    position:absolute;
    width:calc( 25% - 37.5px );
    z-index: 2;
    color: white;
    background-color: rgb(50, 50, 50);
}
li{
    font-size: 25px;
    font-weight: bold;
}

/*상단 메뉴바 아이콘 출력*/
ul.nav > li:hover > div.main_menu{
    font-size:30px;
    background-size: auto 75px;
    background-repeat:no-repeat;
    background-position: right;
}
ul.nav > li.menu_c:hover > div.menu3{
    background-image: url("../Image/charPreview_Venti.png");
}
ul.nav > li.menu_d:hover > div.menu4{
    background-image: url("../Image/icon_mora.png");
    background-size: auto 100px;
}
ul.nav > li.menu_e:hover > div.menu5{
    background-image: url("../Image/icon_Adventurers.png");
}


/*드롭다운 출력*/
ul.nav > li ul.sub_menu { display:none; }
ul.nav > li:hover ul.sub_menu { display:block; }
ul.nav > li ul.sub_menu > li:hover { background:#222222; }



/*--------------------------------------------------메인 레이아웃 설정--------------------------------------------------*/
.main {
    width: 100%;
    height: 90vh;
    text-align: center;
    z-index: 1;
    line-height:2
}

.main::after {
    width: 100%;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.wich{
    height: 100vh;
    text-align: center;
}

/*--------------------------------------------------HOME--------------------------------------------------*/
.main_writing{
    position:absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255);
    color: #222222;
}
.home::after{
    background: url("../Image/Genshin\ mainpage.jpg");
    background-repeat:no-repeat;
    background-size:  100% 100vh;
}

/*--------------------------------------------------Character--------------------------------------------------*/
/*객체 테두리 적용*/
.namecard{
    border:2px solid;
    border-radius: 5px;
}
/*객체 텍스트 배경 조정*/
.namecard > a> p{
    background-color: black;
}
/*그리드 지정*/
.item_character{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, auto));
    row-gap: 10px;
    justify-items: center;
    padding-top:5vh;
    padding-bottom: 5vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
/*이미지 크기 조정*/
.c_icon{
    width:90px;
    height: 90px;
    vertical-align: bottom;
}
.character_icon > .namecard {
    width:110px;
}

/*지역 이름 설정*/
.bg> h2{
    background-color: #222222;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 0px;
}
/*플레이어 리스트*/
.bg_PY{
    background-color: #222222;
    background-image: url("../Image/icon_traverconstellation.png"), url("../Image/space-stars-sky-night-astronomy.jpg");
    background-repeat: no-repeat;
    background-size: 220px auto, 100% auto;
    background-position: center;
}
/*몬드 리스트*/
.bg_MD{
    background-color: rgb(0, 191, 165, 0.6);
    background-image: url("../Image/icon_MD.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}
/*리월 리스트*/
.bg_LY{
    background-color: rgb(219, 168, 1, 0.7);
    background-image: url("../Image/icon_LY.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}
/*이나즈마 리스트*/
.bg_IZ{
    background-color: rgb(138, 62, 171, 0.7);
    background-image: url("../Image/icon_IZ.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}

/*--------------------------------------------------Weapon--------------------------------------------------*/
/*그리드 지정*/
.weapon_icon{
    display: grid;
    row-gap: 10px;
    justify-items: center;
}
/*무기 분류 글자 크기 조정*/
.weapon_main > div > h2 {
    font-size: 30px;
}
/*타입에 따른 칼럼 개수 조정*/
.type4{
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
}
.type5{
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
}
.type6{
    grid-template-columns: repeat(auto-fill, minmax(16.66666666666667%, auto));
}
/*아이콘(사진) 크기 조정*/
.w_icon{
    width:140px;
    height:140px;
    font-size: 12.5px;
    vertical-align: bottom;
}
/*객체 크기 조정*/
.weapon_icon > .namecard {
    width:200px;
}



/*--------------------------------------------------Artifact--------------------------------------------------*/
/*그리드 지정*/
.artifact_icon{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    row-gap: 10px;
    justify-items: center;
}
/*아이콘(사진) 크기 조정*/
.a_icon{
    width:120px;
    height:120px;
}
/*객체 크기 조정*/
.artifact_icon > .namecard{
    width:250px;
}