/*--------------------------------------------------태그 초기화작업--------------------------------------------------*/

body, h1, p, ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family:'나눔고딕';
}

a{
    color: white;
}


/*--------------------------------------------------상단 메뉴바 설정--------------------------------------------------*/

/*로고 이미지 크기*/
.logoimg{
    display: block; margin: 0px auto;
    height: 9.5vh;
    background-color: #222222;
}

/*네비게이션바 영역 분할*/
.nav{
    display:grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr;
    text-align: center;
    line-height:9.5vh;
    opacity: 0.9;
}

/*메인(보임) 메뉴*/
.main_menu{
    border-left: 1px solid white;
    font-size: 22.5px;
    font-weight: bold;
    background-color: #222222;
}

/*드롭다운(안보임) 메뉴*/
.sub_menu{
    position:absolute;
    width:calc( 25% - 37.5px );
    z-index: 2;
    color: white;
    background-color: rgb(50, 50, 50);
}
.sub_menu > li{
    font-size: 22.5px;
    font-weight: bold;
}
.sub_menu > li:hover a{
    font-size: 25px;
}

/*상단 메뉴바 아이콘 출력*/
ul.nav > li:hover > .main_menu{
    font-size:27.5px;
    background-size: auto 75px;
    background-repeat:no-repeat;
    background-position: right;
}
.menu_c:hover > div.menu3{
    background-image: url("../Image/charPreview_Venti.png");
}
.menu_d:hover > div.menu4{
    background-image: url("../Image/icon_mora.png");
    background-size: auto 100px;
}
.menu_e:hover > div.menu5{
    background-image: url("../Image/icon_Adventurers.png");
}


/*드롭다운 출력*/
.nav > li .sub_menu { display:none; }
.nav > li:hover .sub_menu { display:block; }
.nav > li .sub_menu > li:hover { background:#222222; }

/*--------------------------------------------------메인 레이아웃 설정--------------------------------------------------*/

.main {
    width: 100%;
    height: 90vh;
    text-align: center;
    z-index: 1;
    line-height:2;
}

.main::after {
    width: 100%;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.wich{
    height: 100vh;
    text-align: center;
}

/*--------------------------------------------------HOME--------------------------------------------------*/

/*타이틀 폰트 효과 & 크기 조정*/
.main_writing{
    position:absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255);
    color: #222222;
}
.main_writing > h1{
    font-size: 37.5px;
}
.main_writing > p{
    font-weight: bold;
    font-size: 20px;
}

/*배경 이미지 설정*/
.home::after{
    background: url("../Image/Genshin\ mainpage.jpg");
    background-repeat:no-repeat;
    background-size:  100% 100vh;
}

/*--------------------------------------------------Character--------------------------------------------------*/

/*객체별 테두리 적용*/
.namecard{
    border:2px solid;
    border-radius: 5px;
}
/*객체별 텍스트 배경 조정*/
.namecard > a> p{
    background-color: black;
}
/*객체별 텍스트 크기 조정*/
.namecard > a > p{
    font-size: 17.5px;
    font-weight: bold;
}

/*리스트 크기 조정*/
.bg{
    width:92%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top:3%;
}

/*그리드 지정*/
.item_character{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, auto));
    row-gap: 10px;
    justify-items: center;
    padding-top:5vh;
    padding-bottom: 5vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border:4px #222222 solid;
}



/*분류제목 텍스트 설정*/
.bg> h2{
    background-color: #222222;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 0px;
}
/*플레이어 리스트*/
.bg_PY{
    background-color: #222222;
    background-image: url("../Image/icon_traverconstellation.png"), url("../Image/space-stars-sky-night-astronomy.jpg");
    background-repeat: no-repeat;
    background-size: 220px auto, 100% auto;
    background-position: center;
}
/*몬드 리스트*/
.bg_MD{
    background-color: rgb(0, 191, 165, 0.6);
    background-image: url("../Image/icon_MD.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}
/*리월 리스트*/
.bg_LY{
    background-color: rgb(219, 168, 1, 0.7);
    background-image: url("../Image/icon_LY.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}
/*이나즈마 리스트*/
.bg_IZ{
    background-color: rgb(138, 62, 171, 0.7);
    background-image: url("../Image/icon_IZ.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}

/*이미지 크기 조정*/
.c_icon{
    width:90px;
    height: 90px;
    vertical-align: bottom;
}
.character_icon > .namecard {
    width:110px;
}

/*--------------------------------------------------Weapon--------------------------------------------------*/

/*그리드 지정*/
.item_weapon{
    display: grid;
    row-gap: 10px;
    justify-items: center;
    padding-top:5vh;
    padding-bottom: 5vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border:4px #222222 solid;
}

/*타입에 따른 칼럼 개수 조정*/
.type4{
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
}
.type5{
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
}
.type6{
    grid-template-columns: repeat(auto-fill, minmax(16.66666666666667%, auto));
}

/*무기 분류 글자 크기 조정*/
.weapon_main > div > h2 {
    font-size: 27.5px;
    margin: 0px;
}

/*아이콘(사진) 크기 조정*/
.w_icon{
    width:140px;
    height:140px;
    font-size: 12.5px;
    vertical-align: bottom;
}

/*객체 크기 조정*/
.weapon_icon > .namecard {
    width:200px;
}



/*--------------------------------------------------Artifact--------------------------------------------------*/
/*그리드 지정*/
.artifact_icon{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    row-gap: 5vh;
    justify-items: center;
    padding-top:5vh;
    padding-bottom: 5vh;
}
/*아이콘(사진) 크기 조정*/
.a_icon{
    width:120px;
    height:120px;
}
/*객체 크기 조정*/
.artifact_icon > .namecard{
    width:225px;
}
.a_1{
    background-image: url("../Image/a1.png");
    background-size: 230px 170px;
}
.a_2{
    background-image: url("../Image/a2.png");
    background-size: 230px 170px;
}
.a_3{
    background-image: url("../Image/a3.png");
    background-size: 230px 170px;
}
.a_4{
    background-image: url("../Image/a4.png");
    background-size: 230px 170px;
}
.a_5{
    background-image: url("../Image/a5.png");
    background-size: 230px 170px;
}
.a_6{
    background-image: url("../Image/a6.png");
    background-size: 230px 170px;
}
.a_7{
    background-image: url("../Image/a7.png");
    background-size: 230px 170px;
}
.a_8{
    background-image: url("../Image/a8.png");
    background-size: 230px 170px;
}
.a_9{
    background-image: url("../Image/a9.png");
    background-size: 230px 170px;
}
.a_10{
    background-image: url("../Image/a10.png");
    background-size: 230px 170px;
}
.a_11{
    background-image: url("../Image/a11.png");
    background-size: 230px 170px;
}
.a_12{
    background-image: url("../Image/a12.png");
    background-size: 230px 170px;
}
.a_13{
    background-image: url("../Image/a13.png");
    background-size: 230px 170px;
}
.a_14{
    background-image: url("../Image/a14.png");
    background-size: 230px 170px;
}
.a_15{
    background-image: url("../Image/a15.png");
    background-size: 230px 170px;
}
.a_16{
    background-image: url("../Image/a16.png");
    background-size: 230px 170px;
}
.a_17{
    background-image: url("../Image/a17.png");
    background-size: 230px 170px;
}
.a_18{
    background-image: url("../Image/a18.png");
    background-size: 230px 170px;
}